# Pandas 

Pandas is mainly used for data analysis. Pandas allows importing data from various file formats such as comma-separated values(CSV), JSON, SQL, Microsoft Excel. Pandas allows various data manipulation operations such as merging, reshaping, selecting, as well as data cleaning.

In [ ]:
# install pandas
!pip install pandas

In [ ]:
# importing pandas
import pandas as pd

# Creating Dataframes

In [ ]:
# format for data (using lists)
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [ ]:
# creating a dataframe
df = pd.DataFrame(data)
df

In [ ]:
# creating a dataframe with index
df = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
df

In [ ]:
# using numpy
import numpy as np

data  = np.array([[1, 2],[3, 4], [4, 5], [6, 7]])

df = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'], columns= ['apples', 'oranges'])
df

### How to access rows or columns?

In [ ]:
# accessing a row using index
df.loc['June']

# accessing rows using numerical index
df[0:2] # you have give a range i.e. print from 0 to 1 rows
# df[0] doesn't work

In [ ]:
# accessing columns by column name
df['apples']

In [ ]:
# access using index location
df.iloc[2][1]

### Saving Dataframes

**JavaScript Object Notation** (JSON) is a standard text-based format for representing structured data based on JavaScript object syntax. It is commonly used for transmitting data in web applications.

**CSV** format is a plain text format in which values are separated by commas (Comma Separated Values).

**Excel** is a binary file that holds information about all the worksheets in a workbook.

In [ ]:
# saving in csv format
df.to_csv('Purchase.csv')

# saving in excel format
df.to_excel('Purchase.xlsx')

# saving in json format
df.to_json('Purchase.json')

### Reading Dataframes

In [ ]:
# reading a csv format
csv = pd.read_csv('Purchase.csv')

# reading a excel format
xls = pd.read_excel('Purchase.xlsx')

# reading json format
json = pd.read_json('Purchase.json')

In [ ]:
csv
# xls
# json

# Arrival dataset

In [ ]:
# arrivals dataset
url = 'https://raw.githubusercontent.com/hxchua/datadoubleconfirm/master/datasets/arrivals2018.csv'
arrival = pd.read_csv(url, error_bad_lines=False) # , index_col = 'rank')

In [ ]:
# arrival dataframe
arrival

In [ ]:
# to see first n enteries
n = 7
arrival.head(n)

In [ ]:
# to see last n enteries
n = 7
arrival.tail(n)

In [ ]:
# informationa about the data
arrival.info()

In [ ]:
# size of the dataframe
arrival.shape

### Add new columns

In [ ]:
# adding new column to dataframe
new_col = [1 for _ in range(20)]
arrival['New Col'] = new_col
arrival

### Operation on columns

In [ ]:
# substract and add two columns of a dataframe
arrival['Sum of 2 years'] = arrival['arrivals_2017'] + arrival['arrivals_2018']
arrival['Increase in arriavls'] = arrival['arrivals_2018'] - arrival['arrivals_2017']
arrival

In [ ]:
# multiplication and division of  two columns of a dataframe
arrival['Multiplication'] = arrival['arrivals_2017'] * arrival['arrivals_2018']
arrival['Divison'] = arrival['arrivals_2018'] / arrival['arrivals_2017']
arrival

### Dropping columns or rows

In [ ]:
# drop a row or a columns

arrival = arrival.drop(['New Col'], axis  = 1)  # drop using column name
# arrival.drop(10, axis = 0)  # drop using index

### Append or Concatenate

In [ ]:
# appending
temp1  = arrival.append(arrival)  # rowwise append
print(temp1.shape)
temp1

In [ ]:
# concatenate
temp2 = pd.concat((arrival, arrival), axis = 0)
print(temp2.shape)
temp2

In [ ]:
temp3 = pd.concat((arrival, arrival), axis = 1)
print( temp3.shape)
temp3

### Dropping duplicate rows

In [ ]:
new_df = temp2.drop_duplicates()
print(new_df.shape)
new_df

### Mean of column

In [ ]:
# mean of a column
mean_arrival = arrival['arrivals_2017'].mean()
print('Mean arrival for 2017 : ', mean_arrival)

### Summary of dataframe

In [ ]:
arrival.describe()

### Correlation of columns

In [ ]:
(arrival.corr())

### Sorting values based on some columns

In [ ]:
arrival.sort_values(['city'], ascending=True)

# Conditional selections in Dataframes

In [ ]:
# equality conditional arguement

arrival[arrival['country'] == 'China']

In [ ]:
# non-equality conditional arguement

arrival[arrival['country'] != 'China']

In [ ]:
# equality conditional arguement

arrival[(arrival['country'] == 'China') | (arrival['country'] == 'India')]  # (| stands for OR) and (& stands for AND)

# arrival[arrival['country'].isin(['China', 'India', 'Turkey'])]

In [ ]:
# comparative conditional arguement

arrival[arrival['Divison'] > 1.1]