## Ajay Choudhury(18018) | (EECS 2018 Batch)

## Exercise 1

In [3]:
shopping = ['bread', 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [4]:
for item in shopping:
    print(item)

bread
milk
eggs

In [5]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

## Exercise 2

In [9]:
# length of the list 'shopping'
len(shopping)

3

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [12]:
list3 = ['iiserb'] * 3
print(list3)

['iiserb', 'iiserb', 'iiserb']

## Exercise 3

In [13]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [19]:
shopping[1] = 'banana'
print(shopping)

['bread', 'banana', 'eggs']

In [20]:
print(shopping[-1])

eggs

In [21]:
print(shopping[0:2])

['bread', 'banana']

In [22]:
print(shopping[0:3])

['bread', 'banana', 'eggs']

In [23]:
print(shopping[1:])

['banana', 'eggs']

## Exercise 4

In [26]:
shopping.append('apple')
print(shopping)

['bread', 'banana', 'eggs', 'apple', 'apple', 'apple']

In [31]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [32]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

## Exercise 5

In [33]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

# accessing dictionary items
print(movie["year"])

1972

In [34]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [35]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2}

In [36]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
'runtime': 175,
'language': 'English'
}

# printing the new dictionary
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

## Exercise 6

In [39]:
employees = [
    {"name": "John Mckee", "age": "38", "department": "Sales"},
    {"name": "Lisa Crawford", "age": "29", "department": "Marketing"},
    {"name": "Sujan Patel", "age": "33", "department": "HR"},
]
print(employees)

[{'name': 'John Mckee', 'age': '38', 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': '29', 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': '33', 'department': 'HR'}]

In [42]:
for emp in employees: 
    print("Name: " + emp["name"])
    print("Age: " + emp["age"])
    print("Department: " + emp["department"])
    print("-" * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [43]:
for emp in employees:
    if emp["name"] == 'Sujan Patel':
        print("Name: " + emp["name"])
        print("Age: " + emp["age"])
        print("Department: " + emp["department"])
        print("-" * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

## Exercise 7

In [46]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [47]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [48]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Exercise 8

In [49]:
t = ('bread', 'milk', 'eggs')
len(t)

3

In [53]:
# t.append('apple')   # 'tuple' object has no attribute 'append'
# t[2] = 'apple'        # 'tuple' object does not support item assignment

In [56]:
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [57]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

## Exercise 9

In [60]:
s1 = set([1, 2, 3, 4, 5, 6])
print(s1)

s2 = set([1,2,2,3,4,4,5,6,6])       # duplicate items are not preserved
print(s2)

s3 = set([3,4,5,6,6,6,1,1,2])       # original order is not preserved
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [69]:
s4 = {"apple", "orange", "banana"}
print(s4)
print(sorted(s4))

{'banana', 'apple', 'orange'}
['apple', 'banana', 'orange']

In [70]:
s4.add('pineapple')
print(s4)
print(sorted(s4))

{'banana', 'pineapple', 'apple', 'orange'}
['apple', 'banana', 'orange', 'pineapple']

## Exercise 10

In [71]:
# OR or Union operation
s5 = {1,2,3,4}
s6 = {3,4,5,6}

print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [74]:
# AND or intersection operation
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [75]:
# difference operation
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [76]:
# subset checking
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [77]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [78]:
# superset
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False