## Ajay Choudhury (18018) | EECS (2018 Batch)

## Exercise 1

In [1]:
'a' < 'c'   # True

True

In [6]:
'Bombay' > 'Mumbai' # False

False

## Exercise 2

In [9]:
bookstore = 'City Lights'   # valid string enclosed within '' (single quotes)
# bookstore = 'City Lights"   # invalid string -- EOL while scanning string literal

In [2]:
bookstore = "Moe's"     # valid string
# bookstore = 'Moe's'   # invalid string -- invalid syntax

## Exercise 3

In [4]:
greeting = 'Hello'
print(greeting)

Hello

In [6]:
greeting    # without print() function

'Hello'

In [7]:
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'

In [11]:
# no output is shown in the above cell
print(spanish_greeting)
spanish_greeting
# the reverse order only print a single statement -- one with print() function

Hola.

'Hola.'

In [12]:
print(arabic_greeting)

Ahlan wa sahlan.

## Exercise 4

In [14]:
spanish_greeting = "Hola"
print(spanish_greeting + 'Senor.')

HolaSenor.

In [15]:
print(spanish_greeting + ' ' + 'Senor.')

Hola Senor.

In [91]:
# greeting = 'Hello'      # redundant as greeting is already defined earlier
# print(greeting * 5) # output = HelloHelloHelloHelloHello
print((greeting + '\n') * 5)

Hello
Hello
Hello
Hello
Hello

## Exercise 5

In [24]:
name = 'Ajay'
name.lower()

'ajay'

In [25]:
name.capitalize()

'Ajay'

In [26]:
name.upper()

'AJAY'

In [35]:
# name.count('a') # output = 1 (case sensitive)
# name.count('A') # output = 1 (case sensitive)
name.lower().count('a')   #output = 2 can also use upper instead of lower --> (name.upper().count('a'))

2

## Exercise 6

In [36]:
'Hello, world!'[1]  # e

'e'

In [37]:
'Hello, world!'[0:5]    # first 5 elements i.e. 'Hello'

'Hello'

In [39]:
str = 'Hello, world!'
print(str[1:-3])    # including 'r'

# for letters excluding 'r'
print(str[1:-4])

ello, wor
ello, wo

In [40]:
str[3:]

'lo, world!'

## Exercise 7

In [41]:
type('5')

str

In [42]:
'5' + '7'

'57'

In [43]:
int('5')

5

In [44]:
int('5') + int('7')

12

## Exercise 8

In [56]:
# LCM
a,b = 24,36
c = max(a, b)
while(True):
    if (c % a == 0 and c % b == 0):
        break
    else:
        if(a % 2 == 0 and b % 2 == 0):
            c += 2 # even increase 
        else:
            c += 1
print(f'The Least Common Multiple of {a} and {b} is {c}.')

The Least Common Multiple of 24 and 36 is 72.

## Exercise 9

In [62]:
# Perfect squares
print('Enter a number to see if it is a perfect square: ')
number = abs(int(input()))
i = -1
square = False

while (i <= number ** (0.5)):
    if i**2 == number:
        square = True
        break
    i += 1

if square:
    print(f"The square root of {number} is {i}.")
else:
    print(f"{number} is not a perfect square.")

Enter a number to see if it is a perfect square:
The square root of 49 is 7.

## Exercise 10

In [64]:
for i in 'IISERB':
    print(i)

I
I
S
E
R
B

In [67]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [71]:
for i in range(1,10, 2):
    print(i)

1
3
5
7
9

In [88]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [89]:
city = 'Bhopal'
for i in range(3):
    for i in city:
        print(i)

B
h
o
p
a
l
B
h
o
p
a
l
B
h
o
p
a
l